<mat-card class="register-card">
       <mat-card-title>Cadastro Cliente</mat-card-title>
       <mat-card-content>
         <mat-form-field appearance="outline" class="full-width">
           <mat-label>Nome</mat-label>
           <input matInput placeholder="Digite seu nome" [(ngModel)]="name">
         </mat-form-field>
   
         <mat-form-field appearance="outline" class="full-width">
           <mat-label>Idade</mat-label>
           <input matInput type="number" placeholder="Digite sua idade" [(ngModel)]="age">
         </mat-form-field>
       </mat-card-content>
       <mat-card-actions class="actions">
         <button mat-raised-button color="primary" (click)="register()">Salvar</button>
         <button mat-stroked-button color="accent" (click)="goToList()">Cancelar</button>
       </mat-card-actions>
     </mat-card>
   </div>
   
